280NPLIST;1.0;D;K;29;CPBundleInfoDictionaryVersiond;1;6K;19;CPBundlePackageTypeS;4;FMWKK;18;CPBundleIdentifierS;19;com.filmworkers.cupK;15;CPBundleVersionS;5;1.0.1K;12;CPBundleNameS;3;CupK;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;6;Cup.sjK;36;CPBundleEnvironmentsWithImageSpritesA;S;7;BrowserE;E;